.page {
  position: relative;
  height: 100%;
  padding: 24px;
  .page-header {
    display: flex;
    // justify-content: space-between;
  }

  .input-article {
    position: relative;
    padding-top: 16px;
    height: calc(100% - 32px);
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
    .input {
      height: 100%;
      .ant-input {
        border-radius: 16px;
        height: 100% !important;
        padding: 16px;
      }
    }
    .article {
      padding: 16px;
      box-sizing: border-box;
      height: 100%;
      background-color: #ffffff;
      border-radius: 16px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
